body{
    margin: 0;
    font-family: Poppins;
    background-color: #E8BC0E;
}

/* ------------------nav------------- */
nav{
    /* background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(GuraPhotos/river-11.jpg); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90px;
    width: 100%;
  }
  label.logo{
    color: #fff;
    font-size: 20px;
    line-height: 80px;
    padding: 0 30px;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    padding: 7px 13px;
    text-transform: uppercase;
  }
  nav ul li a:hover{
    text-decoration: underline;
    color: #fff;
  }
  .fa-bars{
    font-size: 30px;
    color: #fff;
  }
  .checkbtn{
    float: right;
    line-height: 80px;
    margin-right: 40px;
    display: none;
  }
  #check{
    display: none;
  }
  img{
    object-fit: cover;
  }
  
/* -------------------end nav------------- */
.container{
    width: 900px;
    margin: auto;
    max-width: 90vw;
    text-align: center;
    padding-top: 10px;
    transition: transform .5s;
}
svg{
    width: 30px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.icon-cart{
    position: relative;
}
.icon-cart span{
    position: absolute;
    background-color: red;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    top: 50%;
    right: -20px;
}
.title{
    font-size: xx-large;
}
.listProduct .item img{
    height: 55%;
    width: 90%;
    filter: drop-shadow(0 50px 20px #0009);
}
.listProduct{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.listProduct .item{
    background-color: #EEEEE6;
    padding: 20px;
    border-radius: 20px;
}
.listProduct .item h2{
    font-weight: 500;
    font-size: large;
}
.listProduct .item .price{
    letter-spacing: 7px;
    font-size: small;
}
.listProduct .item button{
    background-color: #353432;
    color: #eee;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 20px;
}

/* cart */
.cartTab{
    width: 400px;
    background-color: #353432;
    color: #eee;
    position: fixed;
    top: 0;
    right: -400px;
    bottom: 0;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: .5s;
}
body.showCart .cartTab{
    right: 0;
}
body.showCart .container{
    transform: translateX(-250px);
}
.cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
}
.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.cartTab button{
    background-color: #E8BC0E;
    border: none;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
}
.cartTab .close{
    background-color: #eee;
}
.listCart .item img{
    /* height: 55%; */
    width: 100%;
}
.listCart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}
.listCart .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    border-radius: 50%;
    color: #555;
    cursor: pointer;
}
.listCart .quantity span:nth-child(2){
    background-color: transparent;
    color: #eee;
    cursor: auto;
}
.listCart .item:nth-child(even){
    background-color: #eee1;
}
.listCart{
    overflow: auto;
}
.listCart::-webkit-scrollbar{
    width: 0;
}
@media only screen and (max-width: 992px) {
    .listProduct{
        grid-template-columns: repeat(3, 1fr);
    }
}


/* mobile */
@media only screen and (max-width: 768px) {
    .listProduct{
        grid-template-columns: repeat(2, 1fr);
    }
}

.buttons{
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 1rem;
    
  }
.buttons a{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    border: 1px solid;
    padding: 0.4rem;
    border-radius: 50px;
  }
  .event{
    background-color: #9bf111;
  }

  @media (max-width: 480px){
    html, body{
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      overflow-x: hidden;
    }
  
    .logo{
      font-size: 8px;
      /* color: blueviolet; */
    }
    .logo img{
      width: 110px;
      height: 80px;
      padding: 1.5rem 0 0 2rem;
      margin-top: -0.5rem;
      margin-left: -1rem;
      object-fit: contain;
    }
    nav ul li a{
      font-size: 14px;
    }
    .checkbtn{
      display: block;
    }
    .close{
      display: block;
      margin-left: 8rem;
      margin-bottom: -2.5rem;
      padding-top: 1rem;
      cursor: pointer;
    }
    .fa-bars{
      font-size: 20px;
    }
    ul{
      position: fixed;
      width: 70%;
      height: 100vh;
      background: #fff;
      top: 0px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px;
      margin-left: -0.3rem;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 15px;
      color: #000;
    }
    nav ul li a:hover{
      text-decoration: underline;
      color: #000;
    }
    #check:checked ~ ul{
      left: 0;
      z-index: 2;
    }
    .row{
      margin-left: 0rem;
    }
    img{
      margin-left: 0rem;
      object-fit: cover;
      height: 55vh;
  
    }
    .prev, .next{
      padding: 12px;
    }
    .prev{
      left: 7%; 
      padding: 0.5rem;
      
    }
    .next{
      left: 85%;
      padding: 0.5rem;
    }
    .numbertext{
      top: -1%;
      left: 2%;
      color: #f2f2f2;
      font-size: 12px;
      font-size: 400;
    }
    .contact i{
      color: #eef5fc;
      text-align: center;
      padding-bottom: 2rem;
      padding: 0.5rem;
      border: 1px solid #eef5fc;
      border-radius: 50%;
      margin-right: 2rem;
    }
    .social{
      margin-left: 7.5rem;
      margin-bottom: 2rem;
    }
    p{
      width: 95%;
      margin-left: 1rem;
    }
    video{
      width: 40vh;
      height: 50vh;
      margin-left: 1rem;
      background-color: #22223b;
    }
    
  
  }
 