
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="accesso.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    

    <title>CCTV</title>
</head>
<body>
     
            <div class="main-detail">
                <h2 class="main-title">Electrical Accessories</h2>
                <div class="detail-wrapper">

                    <div class="detail-card">
                        <img class="detail-img" src="accesso/dispenser2.jpg" alt="" border="0">
                        <div class="detail-desc">
                            <div class="detail-name">
                                <h4>Dispenser</h4>
                            </div>
                            <ion-icon class="detail-favorite" name="bookmark-outline"></ion-icon>
                        </div>                       
                    </div>

                    <div class="detail-card">
                        <img class="detail-img" src="accesso/dispenser.jpg" alt="" border="0">
                        <div class="detail-desc">
                            <div class="detail-name">
                                <h4>Dispenser</h4>
                            </div>
                            <ion-icon class="detail-favorite" name="bookmark-outline"></ion-icon>
                        </div>                       
                    </div>

                    <div class="detail-card">
                        <img class="detail-img" src="accesso/disher1.jpg" alt="" border="0">
                        <div class="detail-desc">
                            <div class="detail-name">
                                <h4>Dishers</h4>
                            </div>
                            <ion-icon class="detail-favorite" name="bookmark-outline"></ion-icon>
                        </div>                       
                    </div>

                    <div class="detail-card">
                        <img class="detail-img" src="accesso/cooker3.jpg" alt="" border="0">
                        <div class="detail-desc">
                            <div class="detail-name">
                                <h4>Cooker</h4>
                            </div>
                            <ion-icon class="detail-favorite" name="bookmark-outline"></ion-icon>
                        </div>                       
                    </div>

                    <div class="detail-card">
                        <img class="detail-img" src="accesso/cooker1.jpg" alt="" border="0">
                        <div class="detail-desc">
                            <div class="detail-name">
                                <h4>Cooker</h4>
                            </div>
                            <ion-icon class="detail-favorite" name="bookmark-outline"></ion-icon>
                        </div>                       
                    </div>

                    <div class="detail-card">
                        <img class="detail-img" src="accesso/bulb.jpg" alt="" border="0">
                        <div class="detail-desc">
                            <div class="detail-name">
                                <h4>Lightings</h4>
                            <ion-icon class="detail-favorite" name="bookmark-outline"></ion-icon>
                        </div>                       
                    </div>

                        <div class="detail-card">
                            <img class="detail-img" src="accesso/fridge.jpg" alt="" border="0" alt="Food image">
                            <div class="detail-desc">
                                <div class="detail-name">
                                    <h4>Fridge</h4>
                                </div>
                                <ion-icon class="detail-favorite" name="bookmark-outline"></ion-icon>
                            </div>                       
                        </div>
    
                        <div class="detail-card">
                            <img class="detail-img" src="accesso/ironbox.jpg" alt="" border="0">
                            <div class="detail-desc">
                                <div class="detail-name">
                                    <h4>Iron box</h4>       
                                </div>
                                <ion-icon class="detail-favorite" name="bookmark-outline"></ion-icon>
                            </div>                       
                        </div>
    
                        <div class="detail-card">
                            <img class="detail-img" src="accesso/microwave.jpg" alt="set-with-variety-exotic-fruits-cutted-plate-banquet-buffet-1" border="0">
                            <div class="detail-desc">
                                <div class="detail-name">
                                    <h4>Microwave</h4>
                                </div>
                                <ion-icon class="detail-favorite" name="bookmark-outline"></ion-icon>
                            </div>                       
                        </div>

                        <div class="detail-card">
                            <img class="detail-img" src="accesso/tvstand.jpg" alt="set-with-variety-exotic-fruits-cutted-plate-banquet-buffet-1" border="0">
                            <div class="detail-desc">
                                <div class="detail-name">
                                    <h4>Stands</h4>
                                </div>
                                <ion-icon class="detail-favorite" name="bookmark-outline"></ion-icon>
                            </div>                       
                        </div>

                        <div class="detail-card">
                            <img class="detail-img" src="accesso/woofer2.jpg" alt="set-with-variety-exotic-fruits-cutted-plate-banquet-buffet-1" border="0">
                            <div class="detail-desc">
                                <div class="detail-name">
                                    <h4>Woofer</h4>
                                </div>
                                <ion-icon class="detail-favorite" name="bookmark-outline"></ion-icon>
                            </div>                       
                        </div>
    
                      
                         
</body>
</html>

